<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>186205367841-3cd7gjms6ahu11e0bag8f7u937876057.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.186205367841-3cd7gjms6ahu11e0bag8f7u937876057</string>
	<key>API_KEY</key>
	<string>AIzaSyDtlCniPO4THVZFeg4Xrofyw8RCZ4iNh1E</string>
	<key>GCM_SENDER_ID</key>
	<string>186205367841</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dateapp</string>
	<key>PROJECT_ID</key>
	<string>ossapp-8a1e2</string>
	<key>STORAGE_BUCKET</key>
	<string>ossapp-8a1e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:186205367841:ios:e229184a2f9163ffde7d60</string>
</dict>
</plist>